extends layout

block content
	#access-box
		form(action="",method="post")
			label username
			input(type="text",name="username")
			br
			label password
			input(type="text",name="password")
			br
			input(type="button", value="Login Now")