extends layout

block content
	div
		form(action='',method='post')
			label username
			input(id='username',type='text',name='username')
			br
			label password
			input(id='password',type='text',name='password')
			br
			label email
			input(id='email',type='text',name='email')
			br
			input(type='submit',value='Sign Up')